@import 'variables.scss';

#top {
	height: 0;
}

#container {
  padding-top: 64px;
  box-sizing: border-box;
  h2 {
    font-size: 36px;
    padding-left: 15px;
    background: transparent;
    color: white;
    padding: 15px;
    max-width: 900px;
    margin: 15px auto;
    @include box-shadow;
    &::after {
      display: block;
      content: ' ';
      height: 2px;
      width: 80px;
      background: white;
    }
  }
}


@mixin gradient($angle, $clr1, $clr2, $clr3, $clr4) {
	background: linear-gradient($angle, $clr1, $clr2, $clr3, $clr4);
	background-size: 400% 400%;
	-webkit-animation: Gradient 30s ease infinite;
	-moz-animation: Gradient 30s ease infinite;
	animation: Gradient 30s ease infinite;
}

#splash {
	width: 100wh;
	height: 90vh;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	a {
		color: white;
		&:visited, &:active {
			color: white;
		}
	}
	mat-icon {
		margin: 0 5px;
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
