@import 'variables.scss';

#top {
	height: 0;
}

#container {
  padding-top: 64px;
  box-sizing: border-box;
  h2 {
    font-size: 36px;
    padding-left: 15px;
    background: transparent;
    color: white;
    padding: 15px;
    max-width: 900px;
		margin: 15px auto;
		box-sizing: border-box;
    @include box-shadow;
    &::after {
      display: block;
      content: ' ';
      height: 2px;
      width: 80px;
      background: white;
    }
  }
}

#splash {
	height: 95vh;
	min-height: 650px;
	color: #fff;
	position: relative;
	.content {
		@include fill-wrapper;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: relative;
		h1 {
			margin-top: 80px;
		}
	}
	.social {
		margin-top: 15px;
		a {
			color: white;
			&:visited, &:active {
				color: white;
			}
		}
		mat-icon {
			margin: 0 5px;
			height: 35px;
			width: 35px;
		}
	}
}

#portfolio, #open-source {
	background: $grey9;
	padding-top: 15px;
	padding-bottom: 50px;
}

#contact {
	padding: 30px;
	padding-bottom: 50px;
}

footer {
	display: flex;
	justify-content: space-around;
	padding-bottom: 15px;
	flex-direction: column;
	align-items: center;
	a {
		text-decoration: none;
		color: white;
		margin: 0 10px;
		&:visited, &:active {
			color: white;
		}
	}
	> div {
		font-weight: bold;
	}
	.social {
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 5px;
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
