/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$portfolio-primary: mat-palette($mat-pink);
//  #f40f42;
$portfolio-accent: mat-palette($mat-pink, A200, A100, A400);
  // #ff99b0;

// The warn palette is optional (defaults to red).
$portfolio-warn: mat-palette($mat-red);
//  #ff9800;

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-theme: mat-light-theme($portfolio-primary, $portfolio-accent, $portfolio-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-theme);
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Dosis, Helvetica, sans-serif',
  $headline: mat-typography-level(32px, 48px, 600),
  $body-1: mat-typography-level(16px, 24px, 400)
);
// Override the typography in the core CSS.
@include mat-core($custom-typography);

@import 'variables.scss';
@import '_stylesheets/fonts.scss';
@import '_stylesheets/hamburger.scss';

html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  color: white;
  background: $grey9;
  font-family: 'Dosis', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Helvetica, sans-serif;
  font-weight: 800;
}

body {
	@include gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
}