@import 'variables.scss';

form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  margin: auto;
  input {
    font-weight: bold;
  }
  input, textarea {
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
    font-family: Dosis;
    font-size: 20px;
    color: $grey7;
  }
  textarea {
    height: 250px;
  }
  input[type=submit] {
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    background: transparent;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px;
    color: white;
    border: 2px solid white;
    cursor: pointer;
  }
  input[type=submit]:disabled {
    color: $grey4;
    border-color: $grey4;
    background: rgba(158, 158, 158, 0.4);
    cursor: not-allowed;
  }
  .error {
    margin-top: -15px;
    margin-bottom: 15px;
    color: #F44336;
    font-size: 20px;
    background: #F5F5F5;
    padding: 5px;
  }
}

.success-message {
  background: #7CB342;
}
.error-message {
  background: #FF9800;
  color: white;
  a {
    text-decoration: none;
    color: #0d47a1;
    cursor: pointer;
  }
}
.success-message, .error-message {
  font-weight: bold;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  font-size: 18px
}